# --- Secrets and Environment-Specific Configuration ---
# Ignore environment variable files
.env*

# --- Common System and IDE Files ---
# Ignore macOS specific files
.DS_Store
# Ignore Windows thumbnail cache
Thumbs.db
# Ignore Visual Studio Code specific files
.vscode/
# Ignore log files
*.log